$background: #111;

.vue-command {
  color: #ffffff;

  span,
  a,
  input,
  textarea {
    color: #ffffff;
  }

  .white-theme {
    background: #fff;
    color: #000;

    span,
    a,
    input,
    textarea {
      color: #000;
    }
  }
}