$background: #111;

.vue-command {
  background: $background;
  color: #ffffff;

  span,
  a,
  input {
    color: #ffffff;
  }

  .white-theme {
    background: #fff;
    color: #000;

    span,
    a,
    input {
      color: #000;
    }
  }
}